body {
  background: url(https://assets1.ignimgs.com/2019/05/02/detectivepikachumovie-blogroll-1556817397661_1280w.jpg)
}
h1{
  font-family: 'Anton', sans-serif;
  color: red;
  font-size: 100px;
}
h2{
  font-family: 'Russo One', sans-serif;
  color: white;
  position-left: 1000px;
}

#input-name{
  color: red;
  weight: 50px;
  height: 50px;
  font-size: 50px;



}
