body {
  background: url(https://assets1.ignimgs.com/2019/05/02/detectivepikachumovie-blogroll-1556817397661_1280w.jpg)
}
h1{
  font-family: 'Anton', sans-serif;
  color: red;
  font-size: 100px;
  margin-top: 1px;
}
h2{
  font-family: 'Permanent Marker', cursive;
  color: white;
  weight: bold;
  margin-bottom: 1px;


}

#input-name{
  color: red;
  weight: 50px;
  font-size: 50px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;



}
